{
    "extends": "defaults/configurations/google",
    "globals": {
    	"ng": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
    	"indent": [2, 4],
        "new-cap": 0
    },
    "env": {
        "browser": true,
        "node": true
    }
}